@import url(../fonts/font.scss);

$body-color: rgb(81, 81, 81);

* {
  border: border-box;
}

body {
  color: $body-color;
  font-family: "PT Serif";
}

.test-image {
  background: url("../images/air-nz.png") no-repeat center;
  height: 100px;
  width: 100px;
  background-size: contain;
  // Styles to center image on page
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}
